.One {
  margin-top: 2em;
  max-width: 100%;
}



.breadcrumb {
  justify-content: center;
}

.view:hover {
  color: black;
}

.height {
  height: 110px
}

.welcome {
  font-size: 20px;
}


#storyBlue  {
  color:  #f31818;
}

#view {
  color:  #f31818; 
}
@media screen and (max-width:412px) {
  
}

