.One {
  margin-top: 2em;
  max-width: 100%;
}

h3 {
  color:rgb(184, 54, 54);
}

.breadcrumb {
  justify-content: center;
}

a:hover {
  color: #dc3545;
}

.height {
  height: 110px
}


#storyBlue  {
  color: #039be5;
}


@media screen and (max-width:412px) {
  
}

